<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style/main.css">
  <title>practise</title>
</head>

<body>
  <!-- 页面固定定位 -->
  <div class="fix_pic" id="fix_pic">
    <div class="back_top">返回
      <br> 顶部</div>
    <div class="chat_me">

      <!-- 打开扣扣聊天窗口 -->
      <a class="ceshi" href="tencent://message/?Site=baidu.com&uin=976877950&Menu=yes">
        <img class="strang_qq" src="/asset/imgs/qq.jpg" alt="qq" title="聊天对话框">
      </a>
      <!-- 强制打开临时对话框 -->
      <a class="ceshi" href="tencent://message/?uin=要聊天的QQ号&Menu=yes& Service=300&sigT=42a1e5347953b64c5ff3980f8a6e644d4b31456cb0b6ac6b27663a3c4dd0f4aa14a543b1716f9d45">
        <img class="strang_qq" src="/asset/imgs/qq.jpg" alt="qq" title="聊天对话框">
      </a>
    </div>
  </div>

  <header>
    <div class="header_container">
      <div class="logo"></div>
      <ul class="info_wrap">
        <li class="info_item login" id="login">注册</li>
        <li class="info_item enter" id="enter">登入</li>
        <li class="info_item broad" id="broad">AICODER广播</li>
      </ul>
    </div>
  </header>

  <div class="main_search">
    <div class="main_container">
      <h1 class="h1_text">AICODER</h1>
      <h2 class="h2_text">线上全栈实习报名</h2>
      <div class="search_box">
        <input type="text" placeholder="搜索关键字..." class="import" id="import">
        <input type="button" class="import_search" value="搜索" id="import_search">
      </div>
    </div>
  </div>

  <div class="study_line_container">
    <h1 class="study_title">线上学习报名</h1>
    <ul class="study_wrap">
      <li class="study_item">
        <img class="item_img" src="/asset/imgs/plan1.png" alt="图片不显示，我显示" title="我是学习计划">
        <h3 class="title_little">统一招聘</h3>
        <p class="introduce">统一招聘专注于IT实习基地</p>
        <p class="introduce">线上IT课程免费，专注于服务IT行业人员</p>
      </li>
      <li class="study_item">
        <img class="item_img" src="/asset/imgs/plan2.png" alt="图片不显示，我显示" title="我是学习计划">
        <h3 class="title_little">统一招聘</h3>
        <p class="introduce">统一招聘专注于IT实习基地</p>
        <p class="introduce">线上IT课程免费，专注于服务IT行业人员</p>
      </li>
      <li class="study_item">
        <img class="item_img" src="/asset/imgs/plan3.png" alt="图片不显示，我显示" title="我是学习计划">
        <h3 class="title_little">统一招聘</h3>
        <p class="introduce">统一招聘专注于IT实习基地</p>
        <p class="introduce">线上IT课程免费，专注于服务IT行业人员</p>
      </li>
    </ul>
  </div>
  <!-- // 第四部分**lunbo -->
  <div class="carousel_wrap">
    <div class="carousel_container">
      <!-- 左定位 -->
      <div class="btn_com btn_left" id="btn_left">左</div>
      <!-- 右定位 -->
      <div class="btn_com btn_right" id="btn_right">右</div>
      <ul class="lunbo">
        <!-- 第一个 -->
        <li class="lunbo_item">
          <ul class="item_detail">
            <li class="detail_list">GULP</li>
            <li class="detail_list">REQUIREJS</li>
            <li class="detail_list">ART-TEMPLATE</li>
            <li class="detail_list">AJAX</li>
            <li class="detail_list">淘宝RAP</li>
          </ul>
          <button class="detail_btn">咨询详情</button>
          <!-- 大梯形 -->
          <div class="big_ti">P1:在线教育项目</div>
          <!-- 小梯形 -->
          <div class="litter_ti"></div>
        </li>
        <!-- 第一个 -->
        <li class="lunbo_item">
          <ul class="item_detail">
            <li class="detail_list">GULP</li>
            <li class="detail_list">REQUIREJS</li>
            <li class="detail_list">ART-TEMPLATE</li>
            <li class="detail_list">AJAX</li>
            <li class="detail_list">淘宝RAP</li>
          </ul>
          <button class="detail_btn">咨询详情</button>
          <!-- 大梯形 -->
          <div class="big_ti">P1:在线教育项目</div>
          <!-- 小梯形 -->
          <div class="litter_ti"></div>
        </li>
        <!-- 第一个 -->
        <li class="lunbo_item">
          <ul class="item_detail">
            <li class="detail_list">GULP</li>
            <li class="detail_list">REQUIREJS</li>
            <li class="detail_list">ART-TEMPLATE</li>
            <li class="detail_list">AJAX</li>
            <li class="detail_list">淘宝RAP</li>
          </ul>
          <button class="detail_btn">咨询详情</button>
          <!-- 大梯形 -->
          <div class="big_ti">P1:在线教育项目</div>
          <!-- 小梯形 -->
          <div class="litter_ti"></div>
        </li>
        <!-- 第一个 -->
        <li class="lunbo_item">
          <ul class="item_detail">
            <li class="detail_list">GULP</li>
            <li class="detail_list">REQUIREJS</li>
            <li class="detail_list">ART-TEMPLATE</li>
            <li class="detail_list">AJAX</li>
            <li class="detail_list">淘宝RAP</li>
          </ul>
          <button class="detail_btn">咨询详情</button>
          <!-- 大梯形 -->
          <div class="big_ti">P1:在线教育项目</div>
          <!-- 小梯形 -->
          <div class="litter_ti"></div>
        </li>
      </ul>
    </div>
  </div>
  <!-- // 第五部分** 学习路线图 -->
  <div class="study_map_wrap">
    <h1 class="map_title">AICODER 全栈学习路线图</h1>
    <ul class="base_list">
      <!-- 中间的线条 -->
      <div class="mid_line"></div>
      <!-- 第一个**靠左 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  on">隐藏</div>
      </li>
      <!-- 第一个**靠右 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>

      <!-- 第一个**靠左 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>
      <!-- 第一个**靠右 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>

      <!-- 第一个**靠左 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>
      <!-- 第一个**靠右 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>

      <!-- 第一个**靠左 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>
      <!-- 第一个**靠右 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide ">隐藏</div>
      </li>

      <!-- 第一个**靠左 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide  ">隐藏</div>
      </li>
      <!-- 第一个**靠右 -->
      <li class="list_item">
        <div class="item_show">
          <h1 class="show_title">HTML基础</h1>
          <p class="show_para">
            HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础HTML基础
          </p>
        </div>
        <div class="item_hide ">隐藏</div>
      </li>
    </ul>
  </div>

  <!-- // 第六部分** 公司位置 -->
  <div class="self_introduce">
    <ul class="self_info">
      <h1 class="hello">Hello</h1>
      <p class="gongsi">公司；xxxxx</p>
      <p class="gongsi">地址：xxxxxxxxxxxx</p>
      <h2 class="change">join us , 让我们一起改变 ！</h2>
      <button class="join" id="join">加入我们</button>
    </ul>
    <div class="self_map" id="container3">我是地图</div>
  </div>


  <!-- // 第七部分**底部说明 -->
  <footer class="footer">
    <div class="footer_container">
      <img class="footer_logo" src="/asset/imgs/logo.png" alt="" title="大学生实习基地">
      <img class="footer_wechat" src="/asset/imgs/wechat.png" alt="dfhdf" title="微信扫码">
      <ul class="hotphone">
        <li class="item">客服热线</li>
        <li class="item">4008-065-035 （工作时间09:00-17:30）</li>
        <li class="item">商务合作</li>
        <li class="item">1573511441@qq.com</li>
      </ul>
    </div>
  </footer>

  <!-- // 第八部分**备案 -->
  <div class="beian">
    <img src="/asset/imgs/jing.png" alt="">&nbsp;&nbsp;
    <span>浙公网安备 33011002012737号</span>
  </div>
  <script src="/lib/require.js" data-main="/js/practise.js"></script>
  <!-- 地图相关导航 -->
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script src="http://api.map.baidu.com/api?v=2.0&ak=A1LU7iHS0avqQwPLAxbhKn0UYSQCuRVH"></script>
  <script src="/lib/jquery.baiduMap.min.js"></script>
  <script>
    // 地图专用
    var points = [{
      id: 1,
      lng: 118.096525,
      lat: 24.462602,
      title: "厦门中山公园",
      content: ["地址：北京市新建宫门路19号", "电话：010-62881144"]
    }];


    var map = new BaiduMap({
      id: "container3",
      level: 16, //  选填--地图级别--(默认15)
      zoom: true, // 选填--是否启用鼠标滚轮缩放功能--(默认false)
      type: ["地图", "卫星", "三维"], // 选填--显示地图类型--(默认不显示)
      width: 320, // 选填--信息窗口width--(默认自动调整)
      height: 70, // 选填--信息窗口height--(默认自动调整)
      titleClass: "title",
      contentClass: "content",
      showPanorama: true, // 是否显示全景控件(默认false)
      showMarkPanorama: true, // 是否显示标注点全景图(默认false)
      showLabel: false, // 是否显示文本标注(默认false)
      mapStyle: "normal", // 默认normal,可选dark,light
      icon: { // 选填--自定义icon图标
        url: "img/marker2.png",
        width: 34,
        height: 94
      },
      centerPoint: { // 中心点经纬度
        lng: 118.106586,
        lat: 24.467207
      },
      index: 3, // 开启对应的信息窗口，默认-1不开启
      animate: true, // 是否开启坠落动画，默认false
      points: points, // 标注点--id(唯一标识)
      callback: function (id) {
        $(".list").find("li").eq(id - 1).addClass("active").siblings().removeClass("active");
      }
    });

  </script>

</body>

</html>
